In [32]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('data/interim/Full_data.csv', index_col = 0)

In [21]:
df["Engine"].replace({" ": '0'}, inplace=True)

In [22]:
df[df.Engine == '0']

,Customer Group,Customer ID,VIN,Engine,Roaming flag,Rental ID,Rental Usage Type,Begin Time,End Time,Revenue,Distance (km),Drives,Reservation minutes,Fuel before the drive (%),Fuel after the drive (%),Start latitude,Start longitude,End latitude,End longitude
4,Non_Customer,1035969.0,WBY1Z21070V308210,0,No,9.336160e+09,Private,31.03.2016 15:21:36,01.04.2016 14:24:17,0.00,0,1,1,53,52,55.770623,12.519791,55.770439,12.518937
110,Customer,801439.0,WBY1Z21030V308267,0,No,9.336192e+09,Private,01.04.2016 08:28:00,01.04.2016 08:43:23,6.87,6,1,3,91,82,55.704370,12.496379,55.696165,12.558297
215,Customer,1029838.0,0,0,No,9.336200e+09,Private,01.04.2016 00:00:00,01.04.2016 00:00:00,670.87,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000
376,Non_Customer,1035969.0,WBY1Z21070V308210,0,No,9.336214e+09,Private,01.04.2016 14:54:28,01.04.2016 15:05:18,0.00,0,1,2,52,52,55.770419,12.519062,55.769630,12.519074
647,Non_Customer,793639.0,WBY1Z21070V308210,0,No,9.336231e+09,Private,01.04.2016 20:08:33,01.04.2016 20:23:21,0.00,11,1,99,39,96,55.769630,12.519074,55.708266,12.575016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2633812,Customer,840442.0,WBY1Z21060V308179,0,No,9.345001e+09,Private,30.09.2016 19:22:35,30.09.2016 19:40:30,0.00,6,1,15,74,69,55.678949,12.528966,55.698219,12.583973
2633849,Customer,796501.0,WBY1Z21060V308179,0,No,9.345004e+09,Private,30.09.2016 19:57:49,30.09.2016 20:05:49,3.44,3,1,6,69,66,55.698219,12.583973,55.707085,12.597232
2633855,Customer,796501.0,WBY1Z21060V308179,0,No,9.345004e+09,Private,30.09.2016 20:13:51,30.09.2016 20:23:30,4.30,3,1,1,66,64,55.707085,12.597232,55.699979,12.584628
2633926,Customer,835301.0,WBY1Z21030V308110,0,No,9.345008e+09,Private,30.09.2016 22:01:02,30.09.2016 22:16:01,6.45,7,1,3,50,42,55.693994,12.611317,55.683102,12.563640
2633968,Customer,2088831.0,WBY1Z21060V308179,0,No,9.345011e+09,Private,30.09.2016 23:05:26,30.09.2016 23:14:28,6.98,3,1,6,64,61,55.699979,12.584628,55.722890,12.579284

In [23]:
# Drop 53 rows with na values
df = df.dropna()

# Rename Columns to English
df. columns = ['Customer_Group', 'CustomerID', 'CarID', 'Engine', 'Rental_flag', 'RentalID', 'Rental_Usage_Type', 'Reservation_Time', 'End_Time', 'Revenue', 'Distance', 'Drives', 'Reservation_Minutes','Fuel_Start','Fuel_End','Start_Lat', 'Start_Long', 'End_Lat', 'End_Long']

# Fix type
df = df.astype({'CustomerID': 'int32', 'RentalID': 'int64'})

In [21]:
df

,Customer_Group,CustomerID,CarID,Engine,Rental_flag,RentalID,Rental_Usage_Type,Reservation_Time,End_Time,Revenue,Distance,Drives,Reservation_Minutes,Fuel_Start,Fuel_End,Start_Lat,Start_Long,End_Lat,End_Long
0,Non_Customer,793639,WBY1Z21080V307924,I3,No,9335872135,Private,24.03.2016 11:48:43,02.04.2016 10:00:19,0.00,0,1,0,0,0,55.678763,12.552853,0.000000,0.000000
1,Non_Customer,1035973,WBY1Z21080V307857,I3,No,9336114126,Private,30.03.2016 15:37:39,01.04.2016 00:40:38,0.00,0,1,0,62,47,55.770626,12.519300,55.770389,12.518839
2,Non_Customer,998095,WBY1Z21020V307904,I3,No,9336153910,Private,31.03.2016 13:08:16,05.04.2016 08:32:25,0.00,2,1,1,85,79,55.621588,12.606951,55.621532,12.606279
3,Non_Customer,999604,WBY1Z21010V307926,I3,No,9336158303,Private,31.03.2016 14:43:00,01.04.2016 07:10:00,0.00,0,1,1,0,71,55.770077,12.518914,55.769746,12.519123
4,Non_Customer,1035969,WBY1Z21070V308210,,No,9336160465,Private,31.03.2016 15:21:36,01.04.2016 14:24:17,0.00,0,1,1,53,52,55.770623,12.519791,55.770439,12.518937
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2633979,Customer,1070662,WBY1Z21010V308185,I3,No,9345011102,Private,30.09.2016 23:39:05,30.09.2016 23:50:54,5.16,4,1,10,46,41,55.694700,12.553776,55.678740,12.587144
2633980,Customer,1041705,WBY1Z21080V308250,I3,No,9345011139,Private,30.09.2016 23:42:18,30.09.2016 23:52:14,3.44,6,1,8,59,52,55.648401,12.542945,55.641310,12.615295
2633981,Customer,2112471,WBY1Z21020V308261,I3,No,9345011311,Private,30.09.2016 23:33:39,30.09.2016 23:52:03,8.17,9,1,3,39,30,55.664744,12.580875,55.719856,12.540863
2633982,Customer,440147,WBY1Z21060V307954,I3,Yes,9345011420,Private,30.09.2016 23:41:56,30.09.2016 23:57:30,6.88,9,1,4,44,35,55.710676,12.566043,55.667453,12.619987
2633983,Customer,1040093,WBY1Z21040V307953,I3,No,9345011439,Private,30.09.2016 23:42:52,30.09.2016 23:57:45,6.45,6,1,1,92,86,55.650799,12.591200,55.665603,12.549791

In [19]:
2630499/(2630499+3433)

0.9986966254254096

In [25]:
len(df)/(1100000-1000000)*4.5

118.52694

In [80]:
pd.read_csv('data/processed/Full_data_set.csv', index_col=0)

,Customer_Group,CustomerID,CarID,Engine,Rental_flag,RentalID,Rental_Usage_Type,Reservation_Time,End_Time,Revenue,...,Reservation_Minutes,Fuel_Start,Fuel_End,Start_Lat,Start_Long,End_Lat,End_Long,TripDist,Start_Zone,End_Zone
2062415,Customer,2759648,WBY1Z21020V307966,I3,No,9369374960,Private,2018-01-01 00:11:32,2018-01-01 01:02:49,79.20,...,9,30,1,55.671360,12.512659,55.677936,12.530884,1356.664327,147142,147132
2062409,Customer,2768122,WBY1Z21000V307903,I3,No,9369374486,Private,2018-01-01 00:11:32,2018-01-01 03:33:04,40.80,...,6,2,2,55.688441,12.489438,55.682690,12.489134,639.765888,102631,102633
2062426,Customer,2127339,WBY1Z21010V307909,I3,No,9369375300,Private,2018-01-01 00:12:31,2018-01-01 00:47:52,45.60,...,17,27,21,55.693236,12.583261,55.650535,12.617281,5205.344801,102213,103231
2062416,Customer,336060,WBY1Z6100HV939142,I3 94,Yes,9369374974,Private,2018-01-01 00:13:50,2018-01-01 00:39:40,40.80,...,10,80,76,55.674318,12.575232,55.645502,12.636549,5005.960085,102171,103211
2062413,Customer,811748,WBY1Z21000V307917,I3,No,9369374952,Private,2018-01-01 00:14:52,2018-01-01 00:47:49,69.60,...,4,99,89,55.673311,12.592582,55.662985,12.595099,1158.997903,103142,103174
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1457878,Customer,3766753,WBY8P2105K7D77234,I3 120,No,9436461043,Private,2019-12-31 23:37:12,2019-12-31 23:55:20,4.82,...,1,16,13,55.672061,12.489302,55.672059,12.489302,0.222390,102771,102771
1457876,Customer,3121676,WBY8P2100K7D93129,I3 120,No,9436461029,Private,2019-12-31 23:40:15,2019-12-31 23:53:34,5.57,...,1,58,54,55.708768,12.530076,55.701495,12.535204,870.202844,102533,102541
1457858,Customer,3657962,WBY8P2102K7E72639,I3 120,No,9436460781,Private,2019-12-31 23:40:32,2019-12-31 23:51:32,4.28,...,2,50,48,55.696589,12.588531,55.684093,12.581978,1448.923340,102351,102223
1457861,Customer,3279159,WBY8P2102K7D70287,I3 120,No,9436460791,Private,2019-12-31 23:41:09,2019-12-31 23:52:22,4.28,...,2,46,51,55.691270,12.572398,55.695754,12.522356,3175.600541,102213,102551
1457863,Customer,3735827,WMWXU7106KTM90937,COOPER,No,9436460808,Private,2019-12-31 23:51:31,2019-12-31 23:54:52,0.27,...,3,80,80,55.657729,12.558659,55.657729,12.558659,0.000000,102831,102831

In [81]:
df_vacancy = pd.read_csv('data/processed/Vacancy_new.csv', index_col=0)

In [82]:
df_vacancy

,car,park_time,reservation_time,time_to_reservation,park_location_lat,park_location_long,leave_location_lat,leave_location_long,park_zone,leave_zone,park_fuel,leave_fuel,engine,moved,prev_customer,next_customer
0,WBA1R5100J5K57439,2018-06-04 08:20:39,2018-06-04 13:33:28,5.213611,55.708286,12.586509,55.708286,12.586509,102341,102341,96,96,118I,0.0,Non_Customer,Customer
1,WBA1R5100J5K57439,2018-06-04 15:05:03,2018-06-04 15:12:08,0.118056,55.671266,12.482561,55.671266,12.482561,102773,102773,94,94,118I,0.0,Customer,Customer
2,WBA1R5100J5K57439,2018-06-04 15:44:53,2018-06-04 17:01:37,1.278889,55.671727,12.490590,55.671727,12.490590,102771,102771,92,92,118I,0.0,Customer,Customer
3,WBA1R5100J5K57439,2018-06-04 23:28:48,2018-06-05 00:53:10,1.406111,55.708905,12.482256,55.708905,12.482256,102672,102672,67,69,118I,0.0,Customer,Customer
4,WBA1R5100J5K57439,2018-06-05 01:53:41,2018-06-05 02:20:51,0.452778,55.698271,12.538428,55.698271,12.538428,102452,102452,53,53,118I,0.0,Customer,Customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1701177,WMWXU710XKTM91735,2019-12-31 16:19:30,2019-12-31 16:19:52,0.006111,55.648796,12.554557,55.648796,12.554557,102851,102851,52,52,COOPER,0.0,Customer,Customer
1701178,WMWXU710XKTM91735,2019-12-31 17:21:50,2019-12-31 17:26:17,0.074167,55.704325,12.487935,55.704325,12.487935,102613,102613,50,50,COOPER,0.0,Customer,Customer
1701179,WMWXU710XKTM91735,2019-12-31 18:04:57,2019-12-31 18:18:35,0.227222,55.693209,12.577759,55.693209,12.577759,102213,102213,50,50,COOPER,0.0,Customer,Customer
1701180,WMWXU710XKTM91735,2019-12-31 18:32:52,2019-12-31 19:28:12,0.922222,55.684798,12.590205,55.684798,12.590205,102222,102222,47,47,COOPER,0.0,Customer,Customer
1701181,WMWXU710XKTM91735,2019-12-31 19:42:16,2019-12-31 21:43:20,2.017778,55.693776,12.560517,55.693776,12.560517,102441,102441,45,45,COOPER,0.0,Customer,Customer

In [45]:
zones = np.concatenate([df_vacancy.park_zone.values, df_vacancy.leave_zone.values])
print(len(set(zones)))
print(len(set(zones//10)))
print(len(set(zones//100)))
print(len(set(zones//1000)))

576
234
63
49

In [71]:
print(sum(pd.Series(zones).value_counts() > 25))
print(sum(pd.Series(zones//10).value_counts() > 25))
print(sum(pd.Series(zones//100).value_counts() > 25))
print(sum(pd.Series(zones//1000).value_counts() > 25))

284
114
29
19