In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/interim/Full_data.csv', index_col = 0)

In [21]:
df["Engine"].replace({" ": '0'}, inplace=True)

In [22]:
df[df.Engine == '0']

,Customer Group,Customer ID,VIN,Engine,Roaming flag,Rental ID,Rental Usage Type,Begin Time,End Time,Revenue,Distance (km),Drives,Reservation minutes,Fuel before the drive (%),Fuel after the drive (%),Start latitude,Start longitude,End latitude,End longitude
4,Non_Customer,1035969.0,WBY1Z21070V308210,0,No,9.336160e+09,Private,31.03.2016 15:21:36,01.04.2016 14:24:17,0.00,0,1,1,53,52,55.770623,12.519791,55.770439,12.518937
110,Customer,801439.0,WBY1Z21030V308267,0,No,9.336192e+09,Private,01.04.2016 08:28:00,01.04.2016 08:43:23,6.87,6,1,3,91,82,55.704370,12.496379,55.696165,12.558297
215,Customer,1029838.0,0,0,No,9.336200e+09,Private,01.04.2016 00:00:00,01.04.2016 00:00:00,670.87,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000
376,Non_Customer,1035969.0,WBY1Z21070V308210,0,No,9.336214e+09,Private,01.04.2016 14:54:28,01.04.2016 15:05:18,0.00,0,1,2,52,52,55.770419,12.519062,55.769630,12.519074
647,Non_Customer,793639.0,WBY1Z21070V308210,0,No,9.336231e+09,Private,01.04.2016 20:08:33,01.04.2016 20:23:21,0.00,11,1,99,39,96,55.769630,12.519074,55.708266,12.575016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2633812,Customer,840442.0,WBY1Z21060V308179,0,No,9.345001e+09,Private,30.09.2016 19:22:35,30.09.2016 19:40:30,0.00,6,1,15,74,69,55.678949,12.528966,55.698219,12.583973
2633849,Customer,796501.0,WBY1Z21060V308179,0,No,9.345004e+09,Private,30.09.2016 19:57:49,30.09.2016 20:05:49,3.44,3,1,6,69,66,55.698219,12.583973,55.707085,12.597232
2633855,Customer,796501.0,WBY1Z21060V308179,0,No,9.345004e+09,Private,30.09.2016 20:13:51,30.09.2016 20:23:30,4.30,3,1,1,66,64,55.707085,12.597232,55.699979,12.584628
2633926,Customer,835301.0,WBY1Z21030V308110,0,No,9.345008e+09,Private,30.09.2016 22:01:02,30.09.2016 22:16:01,6.45,7,1,3,50,42,55.693994,12.611317,55.683102,12.563640
2633968,Customer,2088831.0,WBY1Z21060V308179,0,No,9.345011e+09,Private,30.09.2016 23:05:26,30.09.2016 23:14:28,6.98,3,1,6,64,61,55.699979,12.584628,55.722890,12.579284

In [23]:
# Drop 53 rows with na values
df = df.dropna()

# Rename Columns to English
df. columns = ['Customer_Group', 'CustomerID', 'CarID', 'Engine', 'Rental_flag', 'RentalID', 'Rental_Usage_Type', 'Reservation_Time', 'End_Time', 'Revenue', 'Distance', 'Drives', 'Reservation_Minutes','Fuel_Start','Fuel_End','Start_Lat', 'Start_Long', 'End_Lat', 'End_Long']

# Fix type
df = df.astype({'CustomerID': 'int32', 'RentalID': 'int64'})

In [21]:
df

,Customer_Group,CustomerID,CarID,Engine,Rental_flag,RentalID,Rental_Usage_Type,Reservation_Time,End_Time,Revenue,Distance,Drives,Reservation_Minutes,Fuel_Start,Fuel_End,Start_Lat,Start_Long,End_Lat,End_Long
0,Non_Customer,793639,WBY1Z21080V307924,I3,No,9335872135,Private,24.03.2016 11:48:43,02.04.2016 10:00:19,0.00,0,1,0,0,0,55.678763,12.552853,0.000000,0.000000
1,Non_Customer,1035973,WBY1Z21080V307857,I3,No,9336114126,Private,30.03.2016 15:37:39,01.04.2016 00:40:38,0.00,0,1,0,62,47,55.770626,12.519300,55.770389,12.518839
2,Non_Customer,998095,WBY1Z21020V307904,I3,No,9336153910,Private,31.03.2016 13:08:16,05.04.2016 08:32:25,0.00,2,1,1,85,79,55.621588,12.606951,55.621532,12.606279
3,Non_Customer,999604,WBY1Z21010V307926,I3,No,9336158303,Private,31.03.2016 14:43:00,01.04.2016 07:10:00,0.00,0,1,1,0,71,55.770077,12.518914,55.769746,12.519123
4,Non_Customer,1035969,WBY1Z21070V308210,,No,9336160465,Private,31.03.2016 15:21:36,01.04.2016 14:24:17,0.00,0,1,1,53,52,55.770623,12.519791,55.770439,12.518937
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2633979,Customer,1070662,WBY1Z21010V308185,I3,No,9345011102,Private,30.09.2016 23:39:05,30.09.2016 23:50:54,5.16,4,1,10,46,41,55.694700,12.553776,55.678740,12.587144
2633980,Customer,1041705,WBY1Z21080V308250,I3,No,9345011139,Private,30.09.2016 23:42:18,30.09.2016 23:52:14,3.44,6,1,8,59,52,55.648401,12.542945,55.641310,12.615295
2633981,Customer,2112471,WBY1Z21020V308261,I3,No,9345011311,Private,30.09.2016 23:33:39,30.09.2016 23:52:03,8.17,9,1,3,39,30,55.664744,12.580875,55.719856,12.540863
2633982,Customer,440147,WBY1Z21060V307954,I3,Yes,9345011420,Private,30.09.2016 23:41:56,30.09.2016 23:57:30,6.88,9,1,4,44,35,55.710676,12.566043,55.667453,12.619987
2633983,Customer,1040093,WBY1Z21040V307953,I3,No,9345011439,Private,30.09.2016 23:42:52,30.09.2016 23:57:45,6.45,6,1,1,92,86,55.650799,12.591200,55.665603,12.549791

In [19]:
2630499/(2630499+3433)

0.9986966254254096

In [25]:
len(df)/(1100000-1000000)*4.5

118.52694

In [4]:
df = pd.read_csv('data/processed/Full_data_set.csv', index_col=0)

In [9]:
df[df.CarID == 'WBA1R5107J7B14317'].sort_values(by = 'Reservation_Time').iloc[90:120]

,Customer_Group,CustomerID,CarID,Engine,Rental_flag,RentalID,Rental_Usage_Type,Reservation_Time,End_Time,Revenue,...,Reservation_Minutes,Fuel_Start,Fuel_End,Start_Lat,Start_Long,End_Lat,End_Long,TripDist,Start_Zone,End_Zone
2404866,Non_Customer,1109469,WBA1R5107J7B14317,118I,No,9380818355,Private,2018-07-05 21:31:33,2018-07-06 07:40:28,0.00,...,94,15,96,55.657863,12.480025,55.663640,12.619845,8793.582864,102762,103161
2405293,Customer,2909679,WBA1R5107J7B14317,118I,No,9380830816,Private,2018-07-06 08:03:47,2018-07-06 08:43:30,62.80,...,7,96,94,55.663640,12.619845,55.790043,12.526626,15219.275739,103161,173041
2406390,Customer,2909679,WBA1R5107J7B14317,118I,No,9380870711,Private,2018-07-06 16:52:33,2018-07-06 17:51:45,81.60,...,9,94,90,55.790043,12.526626,55.664243,12.622506,15222.302191,173041,103151
2406892,Customer,2732131,WBA1R5107J7B14317,118I,No,9380887492,Private,2018-07-06 20:43:02,2018-07-06 21:59:01,12.13,...,5,90,90,55.664243,12.622506,55.668131,12.623432,436.209020,103151,103151
2407949,Customer,805552,WBA1R5107J7B14317,118I,No,9380919554,Private,2018-07-07 12:14:16,2018-07-07 12:46:23,92.80,...,4,90,82,55.668131,12.623432,55.780284,12.521959,13996.476053,103151,173042
2408259,Customer,2812886,WBA1R5107J7B14317,118I,No,9380926760,Private,2018-07-07 14:19:19,2018-07-07 15:28:20,68.80,...,5,82,78,55.780284,12.521959,55.628223,12.578694,17278.026868,173042,103291
2408546,Customer,369032,WBA1R5107J7B14317,118I,Yes,9380932682,Private,2018-07-07 16:01:25,2018-07-07 17:09:04,182.40,...,11,78,69,55.628223,12.578694,55.632445,12.575561,508.994547,103291,103291
2408963,Customer,2983995,WBA1R5107J7B14317,118I,No,9380942005,Private,2018-07-07 19:14:18,2018-07-09 06:44:25,62.40,...,2,69,61,55.632445,12.575561,55.630763,12.648888,4606.596002,103291,185203
2413527,Customer,830819,WBA1R5107J7B14317,118I,No,9381070721,Private,2018-07-10 00:25:41,2018-07-10 00:50:43,60.80,...,3,61,57,55.630763,12.648888,55.668463,12.530464,8531.148378,185203,147133
2413979,Customer,3025462,WBA1R5107J7B14317,118I,No,9381083782,Private,2018-07-10 09:08:33,2018-07-10 09:46:32,0.00,...,14,57,53,55.668463,12.530464,55.718780,12.554268,5790.468947,147133,102513
2414054,Customer,2450902,WBA1R5107J7B14317,118I,No,9381087303,Private,2018-07-10 09:52:58,2018-07-10 11:01:43,184.00,...,19,53,26,55.718780,12.554268,55.630400,12.649176,11488.747273,102513,185203
2415663,Customer,827609,WBA1R5107J7B14317,118I,No,9381134320,Private,2018-07-10 22:32:23,2018-07-10 22:32:23,0.00,...,0,26,0,55.630400,12.649176,55.630400,12.649176,0.000000,185203,185203
2416236,Customer,808562,WBA1R5107J7B14317,118I,No,9381155923,Private,2018-07-11 11:54:51,2018-07-11 12:30:37,52.00,...,1,48,44,55.630400,12.649176,55.679192,12.573289,7217.977171,185203,102141
2416667,Customer,833227,WBA1R5107J7B14317,118I,No,9381170216,Private,2018-07-11 16:05:45,2018-07-11 16:38:43,39.86,...,11,44,42,55.679192,12.573289,55.647229,12.615384,4427.469410,102141,103233
2418174,Customer,3010363,WBA1R5107J7B14317,118I,No,9381214198,Private,2018-07-12 10:32:58,2018-07-12 10:53:14,35.20,...,10,42,42,55.647229,12.615384,55.644475,12.591625,1521.956660,103233,103253
2420092,Customer,2567627,WBA1R5107J7B14317,118I,No,9381274558,Private,2018-07-13 08:59:29,2018-07-13 09:11:51,19.20,...,5,42,40,55.644475,12.591625,55.663427,12.597098,2135.153617,103253,103174
2420204,Customer,2567627,WBA1R5107J7B14317,118I,No,9381280550,Private,2018-07-13 10:24:12,2018-07-13 10:46:42,60.80,...,4,40,38,55.663427,12.597098,55.693647,12.482905,7908.775332,103174,102641
2420400,Customer,2942600,WBA1R5107J7B14317,118I,No,9381290969,Private,2018-07-13 12:54:30,2018-07-13 13:10:38,20.80,...,3,38,36,55.693647,12.482905,55.666604,12.516291,3663.777376,102641,102723
2420431,Customer,2883878,WBA1R5107J7B14317,118I,No,9381292252,Business,2018-07-13 13:12:55,2018-07-13 13:37:59,42.00,...,4,36,34,55.666604,12.516291,55.715381,12.575970,6588.464585,102723,102324
2420625,Customer,812977,WBA1R5107J7B14317,118I,No,9381298948,Private,2018-07-13 14:45:22,2018-07-13 15:11:03,0.00,...,8,36,30,55.715381,12.575970,55.670462,12.536258,5580.507756,102324,147133
2420692,Customer,3006163,WBA1R5107J7B14317,118I,No,9381301303,Private,2018-07-13 15:19:14,2018-07-13 15:40:20,27.73,...,6,30,30,55.670462,12.536258,55.659846,12.601281,4245.464611,147133,103173
2420773,Customer,2934782,WBA1R5107J7B14317,118I,No,9381303878,Private,2018-07-13 15:56:49,2018-07-13 16:21:57,70.40,...,4,30,26,55.659846,12.601281,55.705004,12.495313,8327.318558,103173,102612
2421246,Customer,1011189,WBA1R5107J7B14317,118I,No,9381316432,Private,2018-07-13 18:21:14,2018-07-13 19:00:50,60.00,...,16,26,23,55.705004,12.495313,55.684399,12.614723,7826.277198,102612,103111
2422123,Non_Customer,793639,WBA1R5107J7B14317,118I,No,9381337627,Private,2018-07-13 21:37:54,2018-07-14 03:41:34,0.00,...,348,27,96,55.684399,12.614723,55.639614,12.608051,4997.417385,103111,103252
2422996,Customer,2549207,WBA1R5107J7B14317,118I,No,9381367056,Private,2018-07-14 14:53:35,2018-07-14 15:15:50,33.60,...,9,94,96,55.639614,12.608051,55.672404,12.619572,3717.022121,103252,103152
2423178,Customer,3034685,WBA1R5107J7B14317,118I,No,9381371237,Private,2018-07-14 16:10:07,2018-07-14 16:37:28,0.00,...,6,96,96,55.672404,12.619572,55.655088,12.618607,1926.402366,103152,103223
2423338,Customer,2570571,WBA1R5107J7B14317,118I,No,9381374705,Private,2018-07-14 17:17:43,2018-07-14 17:49:48,38.13,...,11,96,96,55.655088,12.618607,55.710289,12.536730,8001.337071,103223,102532
2423404,Customer,2859683,WBA1R5107J7B14317,118I,No,9381376328,Private,2018-07-14 17:55:34,2018-07-14 18:14:03,40.80,...,2,96,96,55.710289,12.536730,55.669187,12.547523,4620.127398,102532,102821
2423917,Customer,2924832,WBA1R5107J7B14317,118I,No,9381388618,Private,2018-07-14 22:20:30,2018-07-14 22:53:23,48.00,...,10,94,92,55.669187,12.547523,55.594802,12.662210,10965.301018,102821,155012
2426092,Customer,3018690,WBA1R5107J7B14317,118I,No,9381444060,Private,2018-07-16 06:47:17,2018-07-16 07:26:18,57.19,...,7,94,88,55.594802,12.662210,55.731283,12.344459,25049.819465,155012,151051

In [20]:
df[df.Reservation_Time == df.End_Time]

,Customer_Group,CustomerID,CarID,Engine,Rental_flag,RentalID,Rental_Usage_Type,Reservation_Time,End_Time,Revenue,...,Reservation_Minutes,Fuel_Start,Fuel_End,Start_Lat,Start_Long,End_Lat,End_Long,TripDist,Start_Zone,End_Zone
2074954,Customer,2603994,WBY1Z21040V307791,I3,No,9369815833,Private,2018-01-10 00:20:37,2018-01-10 00:20:37,0.0,...,0,38,0,55.648564,12.535791,55.648564,12.535791,0.000000e+00,102852,102852
2077713,Customer,1090541,WBY1Z21030V307958,I3,No,9369916123,Private,2018-01-12 06:45:23,2018-01-12 06:45:23,0.0,...,0,28,0,55.678629,12.546649,55.678629,12.546649,0.000000e+00,147114,147114
2078841,Customer,2489658,WBY1Z21010V308090,I3,No,9369956087,Private,2018-01-12 18:34:12,2018-01-12 18:34:12,0.0,...,0,26,0,55.652331,12.549721,55.652331,12.549721,0.000000e+00,102851,102851
2079387,Customer,820289,WBY1Z21020V308177,I3,No,9369977126,Private,2018-01-12 23:15:13,2018-01-12 23:15:13,0.0,...,0,26,0,55.683228,12.531738,55.683228,12.531738,0.000000e+00,147162,147162
2098534,Customer,823879,WBY1Z21010V307893,I3,No,9370674832,Private,2018-01-25 17:56:07,2018-01-25 17:56:07,0.0,...,0,1,0,55.732366,12.440857,55.732366,12.440857,0.000000e+00,163021,163021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1412960,Customer,3078351,WBY8P2107K7E70773,I3 120,No,9430478845,Private,2019-12-14 18:17:21,2019-12-14 18:17:21,0.0,...,0,8,0,55.593486,12.659180,55.593486,12.659180,0.000000e+00,155014,155014
1425044,Customer,2260111,WMWXU7106KTM90050,COOPER,No,9430681965,Private,2019-12-18 15:08:18,2019-12-18 15:08:18,0.0,...,0,43,0,55.702143,12.490007,55.702143,12.490007,0.000000e+00,102612,102612
1434151,Customer,791702,WMWXR3100KTK53872,COOPER,No,9430881469,Private,2019-12-21 14:24:31,2019-12-21 14:24:31,0.0,...,0,45,0,55.686806,12.588204,55.686806,12.588204,0.000000e+00,102212,102212
1436847,Customer,810518,WBA1R5105J7B14316,118I,No,9430933582,Private,2019-12-23 07:25:46,2019-12-23 07:25:46,0.0,...,0,48,0,55.707804,12.598183,55.707804,12.598183,6.298456e+06,102333,102333
1446830,Customer,3154729,WBA1R5101K5N19311,118I,No,9434510052,Private,2019-12-27 21:54:42,2019-12-27 21:54:42,0.0,...,0,8,0,55.711256,12.574812,55.711256,12.574812,0.000000e+00,102325,102325

In [21]:
df[df.Reservation_Time == df.End_Time].index

Int64Index([2074954, 2077713, 2078841, 2079387, 2098534, 2103685, 2106601,
            1972530, 1977625, 1979916,
            ...
            1402011, 1402008, 1402360, 1408084, 1410120, 1412960, 1425044,
            1434151, 1436847, 1446830],
           dtype='int64', length=303)

In [81]:
df_vacancy = pd.read_csv('data/processed/Vacancy_new.csv', index_col=0)

In [82]:
df_vacancy

,car,park_time,reservation_time,time_to_reservation,park_location_lat,park_location_long,leave_location_lat,leave_location_long,park_zone,leave_zone,park_fuel,leave_fuel,engine,moved,prev_customer,next_customer
0,WBA1R5100J5K57439,2018-06-04 08:20:39,2018-06-04 13:33:28,5.213611,55.708286,12.586509,55.708286,12.586509,102341,102341,96,96,118I,0.0,Non_Customer,Customer
1,WBA1R5100J5K57439,2018-06-04 15:05:03,2018-06-04 15:12:08,0.118056,55.671266,12.482561,55.671266,12.482561,102773,102773,94,94,118I,0.0,Customer,Customer
2,WBA1R5100J5K57439,2018-06-04 15:44:53,2018-06-04 17:01:37,1.278889,55.671727,12.490590,55.671727,12.490590,102771,102771,92,92,118I,0.0,Customer,Customer
3,WBA1R5100J5K57439,2018-06-04 23:28:48,2018-06-05 00:53:10,1.406111,55.708905,12.482256,55.708905,12.482256,102672,102672,67,69,118I,0.0,Customer,Customer
4,WBA1R5100J5K57439,2018-06-05 01:53:41,2018-06-05 02:20:51,0.452778,55.698271,12.538428,55.698271,12.538428,102452,102452,53,53,118I,0.0,Customer,Customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1701177,WMWXU710XKTM91735,2019-12-31 16:19:30,2019-12-31 16:19:52,0.006111,55.648796,12.554557,55.648796,12.554557,102851,102851,52,52,COOPER,0.0,Customer,Customer
1701178,WMWXU710XKTM91735,2019-12-31 17:21:50,2019-12-31 17:26:17,0.074167,55.704325,12.487935,55.704325,12.487935,102613,102613,50,50,COOPER,0.0,Customer,Customer
1701179,WMWXU710XKTM91735,2019-12-31 18:04:57,2019-12-31 18:18:35,0.227222,55.693209,12.577759,55.693209,12.577759,102213,102213,50,50,COOPER,0.0,Customer,Customer
1701180,WMWXU710XKTM91735,2019-12-31 18:32:52,2019-12-31 19:28:12,0.922222,55.684798,12.590205,55.684798,12.590205,102222,102222,47,47,COOPER,0.0,Customer,Customer
1701181,WMWXU710XKTM91735,2019-12-31 19:42:16,2019-12-31 21:43:20,2.017778,55.693776,12.560517,55.693776,12.560517,102441,102441,45,45,COOPER,0.0,Customer,Customer

In [45]:
zones = np.concatenate([df_vacancy.park_zone.values, df_vacancy.leave_zone.values])
print(len(set(zones)))
print(len(set(zones//10)))
print(len(set(zones//100)))
print(len(set(zones//1000)))

576
234
63
49

In [71]:
print(sum(pd.Series(zones).value_counts() > 25))
print(sum(pd.Series(zones//10).value_counts() > 25))
print(sum(pd.Series(zones//100).value_counts() > 25))
print(sum(pd.Series(zones//1000).value_counts() > 25))

284
114
29
19