In [8]:
import pandas as pd
import networkx as nx
import numpy as np

In [11]:
df = pd.read_csv('data/processed/Vacancy.csv', index_col=0)

df

,Unnamed: 0,car,park_time,reservation_time,time_to_reservation,time_to_start,park_location_lat,park_location_long,park_zone,park_battery,moved
0,0,WBY1Z21070V307929,2017-08-01 12:49:44,2017-08-28 19:12:32,654.380000,654.463333,55.775655,12.513962,173051,0,10500.069147
1,1,WBY1Z21070V307929,2017-08-28 19:54:45,2017-08-28 20:45:33,0.846667,0.880000,55.706797,12.580914,102343,64,0.000000
2,2,WBY1Z21070V307929,2017-08-28 21:03:40,2017-08-29 15:22:07,18.307500,18.474167,55.689525,12.515708,147222,58,6.295892
3,3,WBY1Z21070V307929,2017-08-29 17:05:55,2017-08-29 22:15:40,5.162500,5.379167,55.689473,12.515429,147222,37,0.000000
4,4,WBY1Z21070V307929,2017-08-29 22:36:35,2017-08-30 07:24:19,8.795556,8.978889,55.689486,12.553311,102444,34,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
366015,366015,WBY1Z21010V307893,2018-05-08 12:55:32,2018-05-08 13:02:38,0.118333,0.151667,55.654351,12.600468,103242,92,0.000000
366016,366016,WBY1Z21010V307893,2018-05-08 13:19:22,2018-05-08 14:30:29,1.185278,1.368611,55.673581,12.547326,147131,87,0.000000
366017,366017,WBY1Z21010V307893,2018-05-08 14:52:59,2018-05-08 14:53:54,0.015278,0.348611,55.681119,12.507883,147234,84,0.000000
366018,366018,WBY1Z21010V307893,2018-05-08 15:19:43,2018-05-08 18:16:33,2.947222,3.013889,55.681442,12.523499,147152,82,0.000000
366019,366019,WBY1Z21010V307893,2018-05-08 18:31:27,2018-05-08 19:07:47,0.605556,0.655556,55.661214,12.523049,102712,80,0.000000